h1 {
    size: 40;
    text-align: center;
    display: block;
    color: rebeccapurple;
  }

body {
    size: 24;
    font: Arial, sans-serif;
    text-align: center;
    display: block;
    /* background-image: url("images/rpsback.png"); */
    /* background-color: #edebe9; */
    background: url(images/rpsback.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.card {
    width: 835px;
    height: 835px;
    scale: .75;
    position: relative;
    display: block;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    background: url("images/play.png") no-repeat;
}

.card:hover {
    background: url("images/play-hover.png") no-repeat;
}