h1 {
    size: 40;
    text-align: center;
    display: block;
    color: rebeccapurple;
  }

body {
    size: 24;
    font: Arial, sans-serif;
    text-align: center;
    display: block;
    /* background-image: "back.jpeg"; */
    background-color: #edebe9;
}

.card {
    width: 512px;
    height: 512px;
    position: relative;
    display: block;
    background: url("play.png") no-repeat;
}

.card:hover {
    background: url("play-hover.pngs") no-repeat;
}